<ng-template #content>
  <ng-content></ng-content>
</ng-template>
@if (routerLink()) {
  <a class="btn btn-primary" [class.full-width]="fullWidth()" [routerLink]="routerLink()">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
    @if (showArrow()) {
      <app-icon name="ArrowRight" [size]="18" />
    }
  </a>
} @else {
  <button
    class="btn btn-primary"
    [class.full-width]="fullWidth()"
    [type]="type()"
    [disabled]="disabled()"
  >
    <ng-container [ngTemplateOutlet]="content"></ng-container>
    @if (showArrow()) {
      <app-icon name="ArrowRight" [size]="18" />
    }
  </button>
}
